
{% extends "Pylot/Login/login-layout.html" %}

{% block login_content %}
    <div class="panel">
        <div class="panel-heading">
            <h2>{{ login_title | default('Forgot Password')}}</h2>
        </div>
        <div class="panel-body">
            <form method="POST" id="pilot-login-lostpassword-form" action="{{url_for('Login:lost_password')}}">
                <div class="form-group">
                    <label>Email:</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter email">
                </div>
                <button type="submit" id="pilot-login-lostpassword-button" class="btn btn-primary">Submit</button>
            </form>

            <hr>

            <a href="{{url_for('Login:login')}}">Login</a>

        </div>
    </div>

{% endblock %}


