
{% extends "Pylot/Login/login-layout.html" %}

{% block login_content %}
    <div class="panel">
        <div class="panel-heading">
            <h2>{{ login_title | default('Reset Password')}}</h2>
        </div>
        <div class="panel-body">
            <form method="POST" action="{{url_for('Login:reset_password')}}">

                <div class="form-group">
                    <label>New Password:</label>
                    <input type="password" class="form-control" name="password" placeholder="New Password">
                </div>
                <div class="form-group">
                    <label>Retype New Password:</label>
                    <input type="password" class="form-control" name="password2" placeholder="Retype New Password">
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>

        </div>
    </div>

{% endblock %}


